<template>
    <div>
        <SideBar/>
    </div>
</template>

<script>
import SideBar from './SideBar';
export default {
    name: 'Landingpage',
    components: {
        SideBar,
    }
}
</script>

<style scoped>

</style>