<template>
    <b-sidebar
        :fullheight="fullheight"
        :overlay="overlay"
        :right="right"
        :open.sync="open">
        <div class="bgg">
            <div class="p-1">
                <img src="../Screen1/sodexo.png" style="margin-top:18px">
            </div>
            <div>
                <p class="Products">Products</p>
            </div>
        </div>
    </b-sidebar>
</template>

<script>
export default {
    name: 'SideBar',
    data(){
        return {
            open: true,
            fullheight: true,
        };
    }
}
</script>

<style scoped>
.Products {
    color: white;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
}
.menu-label{
    color: #FFFFFF;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
}
.p-1 {
    padding-top: 18px;
    padding-left: 0px;
    padding-top: 0px;
}
.menu-label {
    margin-left: 23.5px;
}
span {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.bgg {
    background-color: #2A295C;
}
</style>